# Created by venv; see https://docs.python.org/3/library/venv.html

# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Modelos temporales
*.pkl
*.joblib

# Variables de entorno
.env

!modelo/modelo_calidad_agua.pkl